.card-container{
    color: white;
    height: 150px;
    background-color: #352B44;
    border-radius: 10px;
    padding: 8px;
}


.card-heading{
    font-weight: 400;
}

.card-contents{
    align-items: center;
    display: flex;
    list-style-type: none;
    font-weight: 300;
}